li {border-style: none;
        border-color: floralwhite;width: 114px;}
		img {height:20px; width:20px;float:right; position: relative;
    width: 20px;}
	 .t{background-color: #3d9970;
border-color: #008d4c;
font-weight: 500;
border-radius: 3px;
border: 1px solid transparent;
box-shadow: inset 0px 50px rgba(224, 0, 0, 0.09),inset 0 -15px 30px rgba(0,0,0,0.4);
color:white;
font-size:21px;
width:99px;
}

.f{background-color: #367fa9;
border-color: #008d4c;
font-weight: 500;
border-radius: 4px;
border: 1px solid ;
box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
color:white;
font-size:21px;
padding-right:10px;
width: 216px;
padding: 9px 0px 12px 62px;}

	 .button{background-color: 	#3c8dbc;
border-color: #367fa9;
font-weight: 500;
border-radius: 3px;
border: 1px solid transparent;
color: white;
font-size: 17px;
font-family: cursive;
width: 160px;
height: 47px;
font-style: italic;
box-shadow: inset 0 50px rgba(255, 255, 255, 0.2), inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(155, 154, 179, 0.71);
margin-left: 35px;
}
.style{background-color: #3c8dbc;
border-color: #367fa9;
width: 205px;
height: 53px;
color: white;
font-family: monospace;
border-radius:3px;
border-style: hidden;
box-shadow: inset 0 50px rgba(255,255,255,0.2), inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
}
.shadow{box-shadow: inset 0 50px rgba(255,255,255,0.2), inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
width: auto;
height: auto;
color: #3c8dbc;
padding: 10px 17px 16px 14px;}
.tag{width: auto;
height: auto;
color: #3c8dbc;}


 li {border-style:none;
        border-color: floralwhite;width: 114px;}
		
img {height:20px; width:20px;float:right; position: relative;
    width: 20px;}

	.butstyle2
	{background-color: #3d9970;
border-color: #008d4c;
font-weight: 500;
border-radius: 3px;
border: 1px solid transparent;
box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
color:white;
font-size:21px;
width:99px;
}

.butstyle
{background-color: #367fa9;
border-color: #008d4c;
font-weight: 500;
border-radius: 4px;
border: 1px solid ;
box-shadow: inset 0 50px rgba(255,255,255,0.2), inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(62, 152, 203, 1);
color:white;
font-size:21px;
padding-right:10px;
width: 216px;
padding: 9px 0px 12px 62px;}

.skin{overflow-x: hidden!important;
font-family: 'Source Sans Pro', sans-serif;
-webkit-font-smoothing: antialiased;
background: #f9f9f9;}

.header{position: absolute;max-height: 100px;z-index: 1030;display: block;top: 0;left: 0;right: 0;}

.logo{float: left;
font-size: 20px;
line-height: 50px;
text-align: center;
padding: 0 10px;
width: 220px;
font-family: 'Kaushan Script', cursive;
font-weight: 500;
height: 50px;
display: block;background-color: #367fa9;
color: #f9f9f9;text-decoration: none;}

.sort{background: none repeat scroll 0 0 #3d9970;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 50px rgba(255,255,255,0.2), inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(62, 152, 203, 1);
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    padding: 20px 10px;
    text-align: center;width: 416px;}
	
.sort1{width: 385px;border-radius: 4px;
margin: -14px;background: none repeat scroll 0 0 #3d9970;;color: #444;padding: 10px 20px; 
box-shadow: inset 0 50px rgba(255,255,255,0.2), inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(62, 152, 203, 1);}	


.div1{background: none repeat scroll 0 0 #fff;
    color: #444;
    padding: 10px 20px;width:397px;}
	
.small{font-size: 15px;display: inline-block;padding-left: 4px;font-weight: 300;font-style: italic;}	

.content-header{
background: #fbfbfb;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);margin-top: -6px;
height: 22px;
padding: 15px 15px 10px 20px;position:relative;}

.aside{background-color: #f9f9f9;
margin-left: 220px;min-height: 100%;
display: block;}
